.booking-section {
  background-color: #f7ede2;
  padding: 50px;
}

.booking-title {
  font-size: 2rem;
  color: #6d6875;
  text-align: center;
  margin-bottom: 30px;
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.booking-label {
  display: block;
  font-size: 1.2rem;
  color: #6d6875;
  margin-bottom: 10px;
}

.booking-input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.booking-button {
  background-color: #d1cfcf;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
}

.booking-button:hover {
  background-color: #6d6875;
}
